[
  {estatist, [
    {metrics, [
      {rps, var, [{meter, [{tick, 5000}]}, histogram]},
      {system, var, [memory, system_info]}
      %{requests, tbl, [meter, histogram]},
      %{estatist_update, var, [meter, histogram]},
      %{estatist_get, var, [meter, histogram]}
    ]}
  ]},
  {estatist_http, [
    {host, "0.0.0.0"},
    {port, 8000}
  ]}
].
