%%{cover_enabled, true}.
{deps, [
  {'estatist', ".*", {git, "https://github.com/petrkozorezov/estatist.git", "master"}},
  {'cowboy',   ".*", {git, "https://github.com/extend/cowboy.git",          {tag, "0.6.1"}}},
  {'jiffy',     ".*", {git, "https://github.com/davisp/jiffy.git",          {tag, "0.6.1"}}}
]}.
